.git
.github
.scratch
.venv
__pycache__
*.py[cod]
models
legacies-poc
tests
audio/*
!audio/test-audio.wav
speech_to_text/frontend/node_modules
speech_to_text/frontend/dist
speech_to_text/frontend/test-results
